.heading{
width: 100%;
text-align: left;
}

.heading h3{
display:inline;
}
.heading button{
border: 1px solid white;
float: right;
}
.big_image{
width:100%;
}
#start, #status{
font-size:23px;
}

h4{
line-height: 2;
background-color: white;
margin:0px;
}

.modal-dialog{
width:90%;
}

.instruction_image{
width:45%;
display:inline-block;
}
video{
background: url("game_console.png");
background-size: cover;
background-position: center;
padding: 25px;
}